<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,600,700&amp;display=swap&amp;subset=latin-ext" rel="stylesheet">
        <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">table { border-collapse: collapse; }</style>
    <![endif]-->
</head>
<body style="margin: 0 !important; padding: 0; background-color: #ffffff;">
<div style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-size: medium;font-size: max(16px, 1rem);table-layout: fixed;width: 100%;">
    <div style="margin: 0 auto; max-width: 600px;">
        <!--[if (gte mso 9)|(IE)]>
        <table align="center" width="600">
            <tr>
                <td>
        <![endif]-->
        <table style="border-spacing: 0; font-family: 'Quicksand', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif; font-weight: 500; color: #151616; background-color: #FFFFFF; margin: 0 auto; max-width: 600px; width: 100%;" align="center">
            <tbody><tr>
                <td style="font-size: 1em; vertical-align: middle; background-color: #F9F9F9; border-bottom: 2px solid #ECECEC; height: 4.5em; padding: 0 2.25em; text-align: left !important; width: 100%;">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="font-size: 1em; padding: 0; text-align: center; vertical-align: middle;">
                    <table style="border-spacing: 0; font-family: 'Quicksand', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif; font-weight: 500; color: #151616; width: 100%;">
                        <tbody><tr>
                            <td style="font-size: 1em; padding: 0; text-align: center; vertical-align: middle; padding-bottom: 5em;">
                                {% block content %}{% endblock %}
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 1em; padding: 0; text-align: center; vertical-align: middle; background-color: #F9F9F9; border-top: 2px solid #ECECEC; height: 4.5em; width: 100%;">&nbsp;</td>
            </tr>
        </tbody></table>
        <!--[if (gte mso 9)|(IE)]>
                </td>
            </tr>
        </table>        <![endif]-->
    </div>
</div>
</body>
</html>